.data-lists {
  width: 100%;

  .el-col {
    height: 100%;
  }

  .data-item-one {
    background: linear-gradient(135deg, #1e88e5 0%, #0d47a1 100%);
    margin-right: 10px;
    padding: 10px;
    height: 156px;
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);

   

    .item-right {
      padding-left: 20px;
      padding-right: 10px;
      flex: 1;

      .item-right-top {
        margin-bottom: 10px;

        .tit {
          padding-bottom: 5px;
        }

        .num {
          font-size: 24px;
          font-weight: 700;
          text-align: left;
        }
      }

      .line {
        width: 100%;
        height: 2px;
        background-color: #fff;
        opacity: 0.1;
      }

      .item-right-bottom {
        margin-top: 10px;

        .item {
          flex: 1;

          .tit {
            font-size: 14px;
            padding-bottom: 5px;
          }

          .num {
            font-size: 18px;
            font-weight: bold;
          }
        }
      }
    }
  }

  .data-item-two {
    height: 176px;
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;

    .item {
      height: 50%;
      width: 50%;

      .item-des {
        margin-right: 8px;
        margin-bottom: 8px;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);

        &:nth-child(2n) {
          margin-right: 0px;
        }

        .right {
          flex: 1;
          padding-left: 22px;

          .num {
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 0px;
            color: #1565c0;

            span {
              font-size: 12px;
              color: #2db4a0;
            }
          }

          .txt {
            padding-top: 8px;
            font-size: 12px;
            font-weight: 400;
            color: rgba(0, 0, 0, 0.3);
          }
        }
      }
    }
  }

  .data-item-three {
    padding: 10px;
    height: 156px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);

    .tit {
      font-size: 14px;
      padding-bottom: 5px;
      color: #1565c0;
    }

    .content {
      display: flex;
      flex-wrap: wrap;

      .item {
        width: 50%;
        height: 50%;

        .item-data {
          margin: 5px;
          opacity: 1;
          padding: 10px;
          border-radius: 10px;
          background: #f5f7fa;
          position: relative;
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);

          .icon {
            position: absolute;
            right: 16px;
            top: 40%;
            color: #2db4a0;
            font-size: 14px;
          }

          .tit {
            font-size: 12px;
            font-weight: 400;
            color: #666;
            padding-bottom: 5px;
          }

          .num {
            color: #1e88e5;
            font-size: 14px;
            font-weight: 700;

            span {
              color: #2db4a0;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}

.dataLayer {
  .datalayer-echarts {
    flex: 1;
    height: 260px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  }

  .table-data {
    border-radius: 10px;
    margin-right: 10px;
    background-color: #fff;
    padding-bottom: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);

    .tit {
      padding: 10px 10px 0 10px;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 1px;
      color: #1565c0;
    }

    .table-box {
      margin: 10px;

      .el-table {
        width: 100%;
        height: 360px;

        .type {
          font-size: 10px;
          padding: 5px 10px;
          font-weight: 500;
          line-height: 0px;
          color: #fa4a1e;
          text-align: left;
          border-radius: 6px;
          background: #fa4a1e14;

          &.error-type {
            color: #1e88e5;
            background: #e3f2fd;
          }
        }

        .state {
          display: inline-block;
          width: 8px;
          height: 8px;
          background-color: #1e88e5;
          border-radius: 50%;
          margin-right: 5px;

          &.error-state {
            background-color: #fa4a1e;
          }
        }
      }
    }
  }

  .data-item-three {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);

    .tit {
      font-size: 14px;
      padding-bottom: 5px;
      color: #1565c0;
    }

    .content {
      display: flex;
      flex-wrap: wrap;

      .item {
        width: 50%;
        height: 50%;

        .item-data {
          margin: 5px;
          opacity: 1;
          padding: 10px;
          border-radius: 10px;
          background: #f5f7fa;
          position: relative;
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
          align-items: center;

          .icon {
            position: absolute;
            right: 16px;
            top: 40%;
            color: #2db4a0;
            font-size: 14px;
          }

          .tit {
            font-size: 12px;
            font-weight: 400;
            color: #666;
            padding-bottom: 5px;
            display: flex;
            align-items: center;

            .el-icon {
              font-size: 20px;
              color: #2db4a0;
              margin-right: 5px;
            }
          }
        }
      }
    }
  }

  .notice {
    width: 100%;
    height: 152px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);

    .notice-news {
      width: 100%;
      height: 100%;
      position: relative;

      img {
        width: 100%;
        object-fit: cover;
      }

      .txt {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.3);
        font-size: 14px;
        color: #fff;
        padding: 10px;
      }
    }
  }

  .notice-lists {
    height: 260px;
    overflow: scroll;

    .item {
      font-size: 14px;
      padding: 10px;
      color: #666;

      .type {
        font-size: 10px;
        padding: 5px 10px;
        font-weight: 500;
        line-height: 0px;
        color: #fa4a1e;
        text-align: left;
        border-radius: 6px;
        background: #fa4a1e14;

        &.error-type {
          color: #1e88e5;
          background: #e3f2fd;
        }
      }
    }
  }
}

.border-right-1px {
  border-right: 1px solid #e3f2fd;
}

.icon-edit {
  font-size: 20px;
  color: #1e88e5;
  margin: 0 10px;
}

.icon-dele {
  font-size: 20px;
  color: #fa4a1e;
}

.shake {
  animation: shake 0.5s linear;
}

.shakeRight {
  animation: shakeRight 0.5s linear;
}

@keyframes shake {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes shakeRight {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}